
.menu-container[data-v-065e9c] {
  margin-top: 2em;
}
.menu-list-item[data-v-065e9c] {
  display: inline-block;
  font-weight: 300;
  font-size: 0.8em;
  text-transform: lowercase;
  letter-spacing: 2px;
  cursor: pointer;
}
.vertical-divider[data-v-065e9c]::before {
  content: '';
  padding: 1px;
  margin: 0 1em;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.horizontal-divider[data-v-065e9c] {
  padding: 0;
  margin: 0.7em 0;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.grid[data-v-c0b2eb] {
  margin: 0 auto;
}
@media (max-width: 433px) {
.grid[data-v-c0b2eb] {
    padding: 0 1em;
}
.grid-item[data-v-c0b2eb] {
    max-width: 280px;
}
}
@media (max-width: 600px) {
.grid[data-v-c0b2eb] {
    padding: 0 1em;
}
.grid-item[data-v-c0b2eb] {
    max-width: 200px;
}
}
@media (max-width: 800px) {
.grid[data-v-c0b2eb] {
    padding: 0 1em;
}
.grid-item[data-v-c0b2eb] {
    max-width: 250px;
}
}

.main-app-container[data-v-f27d6f] {
  padding-top: 2em;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.site-title[data-v-f27d6f] {
  font-size: 4em;
  letter-spacing: 1px;
}
.site-subtitle[data-v-f27d6f] {
  font-weight: 300;
  font-size: 0.8em;
}
